<div ng-controller="vegancontroller">
  <div class="ui container">
      <div class="hero1">
          <p>Find the veg or non veg</p>
      </div>

      <div class="search-bar">
          <form>
          <div class="input-wrapper">
              <label for="user-password">Know your Dish</label>
            <input type="text" class="form-control" placeholder="Search..." text-model="myFile" ng-model="veganimg">
          </div>
          <button type="submit" ng-click="myfun({{veganimg}})"</button>
        </form>
      </div>
</div>
</div>
